<%= link_to "<< Back", root_url %>

<h1><%= @kitten.name %></h1>
<small>Age: <%= @kitten.age %></small>
<ul>
	<li>Cuteness: <%= @kitten.cuteness %></li>
	<li>Softness: <%= @kitten.softness %></li>
</ul>